#images{
    text-align: right;
}

h2{
    text-align:center;
    font-family: 'Karla', sans-serif;
    color: green;
}

body{
    background-color: rgb(198, 96, 255);
}

#particles{
    position:absolute;
}
